{% block content %}
{% include 'nav.html' %}

<div style="height: 100vh">
    <div class="grid-container">
        <div class="recom h4" style="padding:10px">
            Songs similar to: <span class="badge badge-pill badge-info">
               {{songName}}
       </span>
       </div>
       <div style="display:flex;gap:15px;flex-wrap:wrap;padding:10px;">
        {% if re|length > 0 %}
       {% for k in re %}
       
           <div class="badge btn-secondary disabled">
                 <h5>{{k}}</h5>
             </div>
       
       
       {% endfor %}
       {% else %}
       <h4 style="color: black">No Recommendation Found</h4>
       {% endif%}
       </div>
      
    </div>
</div>




{% include 'footer.html' %}













{% endblock content %}
</body>

</html>
